.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

// Global smooth scrolling
